<h2>Reservation List</h2>

<ul *ngIf="reservations.length; else NoReservation">
    <li *ngFor="let reservation of reservations">
        Guest Name : {{reservation.guestName}}<br>
        Guest Email : {{reservation.guestEmail}}<br>
        Room No : {{reservation.roomNumber}}<br>
        Check In : {{reservation.checkInDate}}<br>
        Check Out : {{reservation.checkOutDate}}<br>
        <button (click)="deleteReservation(reservation.id)">Delete</button>
        <button [routerLink]="['/edit/', reservation.id]">Edit</button>
    </li>
</ul>

<ng-template #NoReservation>
    <p>No reservation available</p>
</ng-template>